.page {}
.page__main {}
/* =========== */
.main-block {
   position: relative;
   padding: 200px 0 80px;
   background:  linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
   overflow: hidden;
}
.main-block__container {
   position: relative;
   z-index: 2;
   
}
.main-block__body {
   margin-bottom: 190px;
} 
.main-block__advantages {}
/* =========== */
.body-main {
  display: flex;
}
.body-main__column {
   flex: 0 1 50%;
} 
.body-main__content{
padding-right: 50px;
flex: 0 1 50%;
align-self: center;
}

.body-main__image{
   max-width: 107.8%;
   transform: translateX(7.8%);
}

.body-main__play {
   font-weight: 700;
   font-size: 14px;
   display: inline-flex;
   align-items: center;
   gap: 16px;
   position: relative;
}
.body-main__play:not(:last-child){
   margin-bottom: 40px;
}
.body-main__play::after{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 52px;
   height:52px;
   border-radius: 50%;
   background: rgba(255, 63, 58, 1);
   opacity: 0.12;
   transform: scale(1.6);
   animation: play-circle 1s infinite ease;
}
.body-main__play::before  {
   content: "";
   flex: 0 0 52px;
   width: 52px;
   height: 52px;
   border-radius: 50%;
   background: rgba(255, 63, 58, 1) url(../img/icon/play.svg) center no-repeat;
}

.body-main__play:hover::after{
   animation-play-state:paused ;
}


@keyframes play-circle{
   0%{
     transform: scale(1.6);
   }
   100%{
      opacity: 0;
      transform: scale(1.8);
   }
}


.body-main__title {
   font-size: 64px;
   font-weight: 900;
   line-height: 130%;
   letter-spacing: 1px;
   color: rgba(30, 33, 44, 1);

   
}
.body-main__title:not(:last-child){
   margin-bottom: 60px;
}

.body-main__actions {
   display: flex;
   align-items: center;
   gap: 24px;
}
.body-main__media{
   flex: 0 1 50%;
}
.body-main__button {}
/* =========== */
.advantages-main {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
}
.advantages-main__item {
   
}
/* =========== */
.item-advantages {
   display: flex;
   align-items: center;
   color: rgba(30, 33, 44, 1);
   gap: 12px;
   
}


.advantages-main__circle{
   background: rgba(255, 63, 58, 1);
   height: 8px;
  
   flex: 0 0 8px;
   border-radius: 50%;
   
}
.item-advantages__value {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
}
.item-advantages__text {
   line-height: 1.5;
}
/* =========== */
.main-block__decor {}
.decor-main {
   position:absolute ;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.decor-main__item { 
   position: absolute;
}
.decor-main__item--1 {
   background: url(../img/decor/shapes.svg) 0 0 no-repeat;
   width: 96px;
   height: 96px;
   top: 12%;
   left: 4%;
}
.decor-main__item--2 {
   background: url(../img/decor/circles.svg) 0 0 no-repeat;
   width: 284px;
   height: 284px;
   bottom: -9%;
   left: -5%;
}
.decor-main__item--3 {
   background: url(../img/decor/shapes-2.svg) 0 0 no-repeat;
   width: 88px;
   height: 47px;
   top: 45%;
   left: 40%;
}
.decor-main__item--4 {
   background: url(../img/decor/Vector-2.svg) 0 0 no-repeat;
   width: 61px;
   height: 61px;
   bottom: 24%;
   left: 38%;
}
.decor-main__item--5 {
   background: url(../img/decor/shapes.svg) 0 0 no-repeat;
   width: 110px;
   height: 110px;
   top: -1.5%;
   right: 5%;
   transform: rotate(135deg);
}
.decor-main__item--6 {
   background: url(../img/decor/dots.svg) 0 0 no-repeat;
   width: 187px;
   height: 137px;
   bottom: 18%;
   right: -1.5%;
}